@using Abp.Timing
<!--/FOOTER/-->
<div class="footer scroll_element scroll_off">
    <div class="footer_inner">
        <div class="footer_button">
            <a href="shop.html" class="link">
                <span></span>
                <p class="kerning en0">SHOP</p>
                <p class="kerning ja0">CỬA HÀNG</p>
            </a>
            <a href="contact/index.html" class="link">
                <span></span>
                <p class="kerning en0">CONTACT</p>
                <p class="kerning ja0">LIÊN HỆ</p>
            </a>
            <div class="clear"></div>
        </div>
        <a href="index.html" class="footer_logo link">
            <img src="~/ResourcesTemplate/img/logo0.svg" alt="Bột gạo lọc Ánh Duy - Sa Đéc" />
        </a>
        <div class="footer_text">
            <p class="kerning">CƠ SỞ BỘT GẠO ÁNH - DUY</p>
            <p class="kerning">
                VĂN PHÒNG<br />
                424A ẤP PHÚ AN, XÃ TÂN PHÚ ĐÔNG, TP.SA ĐÉC, ĐỒNG THÁP<br />TEL.022‐365‐5572　FAX.022‐361‐3370
            </p>
            <p class="kerning">
                CƠ SỞ<br />424A ẤP PHÚ AN, XÃ TÂN PHÚ ĐÔNG, TP.SA ĐÉC, ĐỒNG
                THÁP<br />TEL.022‐367‐6539　FAX.022‐367‐6539
            </p>
            <div class="clear"></div>
        </div>
        <div class="footer_sns">
            <a href="https://www.facebook.com/botgaolocanhduy/" target="_blank">
                <img src="~/ResourcesTemplate/img/sns0_b.svg" alt="FACEBOOK" />
            </a>
            <!--<a href="" target="_blank"><img src="https://mosio.co.jp/img/sns1_b.svg" alt="INSTAGRAM"></a>-->
            <div class="clear"></div>
        </div>
        <a href="notices.html" class="footer_notices link"><p class="kerning">THÔNG TIN CHI TIẾT VỀ CHÚNG TÔI</p></a>
        <div class="footer_copyright">
            <p class="kerning"> @Clock.Now.Year © DEV-LE CONG</p>
        </div>
    </div>
</div>

<!-- END FOOTER -->
