@using System.Threading.Tasks
@using AnhDuyCompany.ManagerCompany.Web.Public.Startup
@using CultureHelper = AnhDuyCompany.ManagerCompany.Localization.CultureHelper
@{
	ViewBag.CurrentPageName = FrontEndPageNames.Column;
}

<!--/CONTENTS/-->
<div id="top" class="contents">
	<!--/COLUMN/-->
	<div id="column" class="contents_inner">

		<!--/MAIN/-->
		<div class="contents_main fix_h">
			<div class="contents_main_inner">
				<div class="contents_main_left title_w">
					<a href="index.html" class="contents_main_logo link"><img src="~/ResourcesTemplate/img/logo0.svg" alt="塩竈の藻塩｜塩竈製塩｜SHIOGAMA NO MOSHIO"></a>
					<div class="contents_main_title"><img src="~/ResourcesTemplate/img/title4.svg" alt="人々のおはなし"></div>
				</div>
				<div class="contents_main_right">
					<div class="contents_main_img"><div></div></div>
				</div>
			</div>
		</div>


		<!--/DETAIL/-->
		<div class="contents_detail">
			<div class="contents_detail_inner">

				<div id="subtitle" class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner contents_w">
						<div class="contents_block_subtitle"><p class="kerning en0">COLUMN</p></div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_block_text"><p class="kerning ja0">塩の作り手と生かし手。<br>『塩竈の藻塩』をとりまく<br class="sp_disp">技術者たちの言葉をご紹介します。</p></div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="column_title">
							<p class="kerning ja0">藻塩と製塩職人</p>
							<p class="kerning en0">story.01</p>
							<p class="kerning">合同会社 顔晴れ塩竈／及川文男さん</p>
						</div>
						<div class="column_contents">
							<div class="column_copy"><p class="kerning ja0"><span>「</span>手間暇をかけた分だけ、<br class="tb_disp sp_disp">塩の味がまろやかになる<span>」</span></p></div>
							<div class="column_left">
								<div class="column_illust"><img src="~/ResourcesTemplate/img/illust2.svg"></div>
							</div>
							<div class="column_right">
								<div class="column_text">
									<p class="kerning">『塩竈の藻塩』を製造する「合同会社 顔晴れ（がんばれ）塩竈」の製塩職人の及川文男さんは、昭和10年創業の水産加工会社「及川商店」の経営者でもあります。<br><br>及川さんの「塩作りの聖地で塩を生産していないのはおかしい」との思いに、塩作りを地域活性化につなげようという地元の若者の動きが重なり、2009年の4月、及川商店の工房に設えた竈で『塩竈の藻塩』の生産は始まりました。<br><br>「顔晴れ塩竈」の塩づくりは、この地に伝わる塩土老翁神の製塩法を踏襲し、「手間暇かけて、手塩にかけて」行われます。<br><br>「海水を炊く間、雑味のもとになる不純物を取り除き続けます。手間をかけた分だけ、まろやかな塩に仕上がりますから。地元の料理人や菓子職人が『塩竈の藻塩』を使ってくれるのも、塩竈産という価値だけでなく、この塩の味を評価してくれているからなんです」と及川さん。<br><br>及川さんの塩作りは、地域の人々の新たなつながりも生み出しています。</p>
									<div></div>
									<p class="kerning">合同会社 顔晴れ塩竈<br>宮城県塩竈市尾島町27-30 キクニ（株）2F<br>TEL.022-365-5572</p>
								</div>
							</div><div class="clear"></div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="column_title">
							<p class="kerning ja0">藻塩と寿司職人</p>
							<p class="kerning en0">story.02</p>
							<p class="kerning">亀喜寿司／保志昌宏さん</p>
						</div>
						<div class="column_contents">
							<div class="column_copy"><p class="kerning ja0"><span>「</span>地元産の魚介の味を、<br class="tb_disp sp_disp">地元産の藻塩が引き出してくれる<span>」</span></p></div>
							<div class="column_left">
								<div class="column_illust"><img src="~/ResourcesTemplate/img/illust3.svg"></div>
							</div>
							<div class="column_right">
								<div class="column_text">
									<p class="kerning">保志昌宏さんは、大正時代創業の老舗「亀喜寿司」の5代目。「亀喜寿司」は地元産の魚介を生かした寿司を味わえる名店です。<br><br>保志さんは食材の質や調理技術はもちろん、食材の「物語」を大事にしています。寿司に使われる魚介の産地や漁法、調理法など、その食材の背景をお客さんに伝えることで、料理をより深く味わってもらえるのだそうです。そして、料理に塩竈産の塩を使うことで、その「物語」に深みが増すのです。<br><br>もちろん保志さんが『塩竈の藻塩』を使う理由は「物語」だけではありません。<br>「三陸産の魚介は質がいい。だからこそ、雑味のない『塩竈の藻塩』が、素材の味を引き立ててくれるんです。まして、地元の魚介を育んだ、その海水から作られた地元の塩。相性がいいのは当然です」と話す保志さん。<br><br>「亀喜寿司」では、ウニやアナゴなど保志さんが選んだ素材を、細かく砕いた『塩竈の藻塩』の結晶とともに味わうことができます。</p>
									<div></div>
									<p class="kerning">亀喜寿司<br>宮城県塩竈市新富町6−12<br>TEL.022-362-2055</p>
								</div>
							</div><div class="clear"></div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="column_title">
							<p class="kerning ja0">藻塩と菓子職人</p>
							<p class="kerning en0">story.03</p>
							<p class="kerning">チョコレート工房 クレオバンテール／渡辺誠二さん</p>
						</div>
						<div class="column_contents">
							<div class="column_copy"><p class="kerning ja0"><span>「</span>この塩との出会いが、<br class="tb_disp sp_disp">塩竈に店を開くきっかけに<span>」</span></p></div>
							<div class="column_left">
								<div class="column_illust"><img src="~/ResourcesTemplate/img/illust4.svg"></div>
							</div>
							<div class="column_right">
								<div class="column_text">
									<p class="kerning">「この塩を初めて口に含んだとき、チョコレートに合うと直感しました」と話すのは、「チョコレート工房 クレオバンテール」代表の渡辺誠二さんです。<br><br>渡辺さんは洋菓子作りに使う塩を求めて日本各地を歩き回った末に、『塩竈の藻塩』に出会いました。<br>そしてすぐに、藻塩を使ったビスケットとチョコレートクリームを合わせて藻塩の結晶をトッピングした「藻塩ショコラ」を試作。手応えをつかみ、塩竈にチョコレートのお店を開くきっかけになりました。<br><br>「クセがなく、優しい塩気の後に甘みが返ってくる。純粋に美味しい塩だと思います」と、『塩竈の藻塩』の魅力を語る渡辺さん。「この塩でお菓子を作ると、お菓子の味が引き出され、深みが増すんです」と言います。<br><br>そんな渡辺さんが営む「チョコレート工房 クレオバンテール」では、「藻塩ショコラ」だけでなく、柔らかな塩味が魅力のクッキーやマドレーヌも人気です。</p>
									<div></div>
									<p class="kerning">チョコレート工房 クレオバンテール<br>宮城県塩竈市本町6−4<br>TEL.022-781-8301</p>
								</div>
							</div><div class="clear"></div>
						</div>
					</div>
				</div>



			</div>
		</div>



	</div>
</div>