@using System.Threading.Tasks
@using AnhDuyCompany.ManagerCompany.Web.Public.Startup
@using CultureHelper = AnhDuyCompany.ManagerCompany.Localization.CultureHelper
@{
	ViewBag.CurrentPageName = FrontEndPageNames.Company;
}

	<!--/CONTENTS/-->
<div id="top" class="contents">
	<!--/COMPANY/-->
	<div id="company" class="contents_inner">



		<!--/MAIN/-->
		<div class="contents_main fix_h">
			<div class="contents_main_inner">
				<div class="contents_main_left title_w">
					<a href="index.html" class="contents_main_logo link"><img src="~/ResourcesTemplate/img/logo0.svg" alt="塩竈の藻塩｜塩竈製塩｜SHIOGAMA NO MOSHIO"></a>
					<div class="contents_main_title"><img src="~/ResourcesTemplate/img/title7.svg" alt="企業情報"></div>
				</div>
				<div class="contents_main_right">
					<div class="contents_main_img"><div></div></div>
				</div>
			</div>
		</div>



		<!--/DETAIL/-->
		<div class="contents_detail">
			<div class="contents_detail_inner">



				<div id="subtitle" class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner contents_w">
						<div class="contents_block_subtitle"><p class="kerning en0">COMPANY</p></div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="company_title">
							<p class="kerning ja0">合同会社 顔晴れ塩竈</p>
							<p class="kerning en0">GANBARE SHIOGAMA LLC</p>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="company_list">
							<div class="company_name"><p class="kerning ja0">事務所</p></div>
							<div class="company_text">
								<p class="kerning">〒985‐0021 宮城県塩竈市尾島町27‐30キクニ（株）2F<br>TEL.022‐365‐5572<br>FAX.022‐361‐3370</p>
								<div></div>
								<p class="kerning">OFFICE<br>KIKUNI Inc. 2F 27‐30 Ojimacho Shiogama Miyagi JPN</p>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="company_list">
							<div class="company_name"><p class="kerning ja0">工場</p></div>
							<div class="company_text">
								<p class="kerning">〒985‐0016 宮城県塩竈市港町二丁目15‐9<br>TEL.022‐367‐6539<br>FAX.022‐367‐6539</p>
								<div></div>
								<p class="kerning">FACTORY<br>2-15‐9 Minatomachi Shiogama Miyagi JPN</p>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="company_mail">
							<a href="mailto:info@mosio.co.jp"><p class="kerning">info@mosio.co.jp</p></a>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div id="map"></div>
					</div>
				</div>



			</div>
		</div>



	</div>
</div>