@using System.Threading.Tasks
@using AnhDuyCompany.ManagerCompany.Web.Public.Startup
@using CultureHelper = AnhDuyCompany.ManagerCompany.Localization.CultureHelper
@{
	ViewBag.CurrentPageName = FrontEndPageNames.FAQ;
}

<!--/CONTENTS/-->
<div id="top" class="contents">
	<!--/FAQ/-->
	<div id="faq" class="contents_inner">



		<!--/MAIN/-->
		<div class="contents_main fix_h">
			<div class="contents_main_inner">
				<div class="contents_main_left title_w">
					<a href="index.html" class="contents_main_logo link"><img src="~/ResourcesTemplate/img/logo0.svg" alt="塩竈の藻塩｜塩竈製塩｜SHIOGAMA NO MOSHIO"></a>
					<div class="contents_main_title"><img src="~/ResourcesTemplate/img/title6.svg" alt="よくあるご質問"></div>
				</div>
				<div class="contents_main_right">
					<div class="contents_main_img"><div></div></div>
				</div>
			</div>
		</div>



		<!--/DETAIL/-->
		<div class="contents_detail">
			<div class="contents_detail_inner">



				<div id="subtitle" class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner contents_w">
						<div class="contents_block_subtitle"><p class="kerning en0">FAQ</p></div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="faq_list">
							<a href="javascript:void(0);" class="faq_list_q">
								<p class="kerning">Q</p>
								<p class="kerning ja0">『塩竈の藻塩』はどこで購入できますか？</p><div class="clear"></div>
								<div class="faq_button">
									<div class="faq_button_inner">
										<div><span></span></div>
										<div><span></span></div>
									</div>
								</div>
							</a>
							<div class="faq_list_a opa">
								<p class="kerning">A</p>
								<p class="kerning">塩竈市内や宮城県内のみやげ物店などで主に販売されています。<br>（<a href="shop.html" class="link">販売店一覧はコチラ</a>）</p><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="faq_list">
							<a href="javascript:void(0);" class="faq_list_q">
								<p class="kerning">Q</p>
								<p class="kerning ja0">賞味期限はどれくらいですか？</p><div class="clear"></div>
								<div class="faq_button">
									<div class="faq_button_inner">
										<div><span></span></div>
										<div><span></span></div>
									</div>
								</div>
							</a>
							<div class="faq_list_a opa">
								<p class="kerning">A</p>
								<p class="kerning">賞味期限はございませんが、湿気を吸いやすいのでお気をつけください。</p><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="faq_list">
							<a href="javascript:void(0);" class="faq_list_q">
								<p class="kerning">Q</p>
								<p class="kerning ja0">添加物は入っていますか？</p><div class="clear"></div>
								<div class="faq_button">
									<div class="faq_button_inner">
										<div><span></span></div>
										<div><span></span></div>
									</div>
								</div>
							</a>
							<div class="faq_list_a opa">
								<p class="kerning">A</p>
								<p class="kerning">添加物は一切使用しておりません。海藻と海水のみが原料の藻塩です。</p><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="faq_list">
							<a href="javascript:void(0);" class="faq_list_q">
								<p class="kerning">Q</p>
								<p class="kerning ja0">まとめて注文したいのですが？</p><div class="clear"></div>
								<div class="faq_button">
									<div class="faq_button_inner">
										<div><span></span></div>
										<div><span></span></div>
									</div>
								</div>
							</a>
							<div class="faq_list_a opa">
								<p class="kerning">A</p>
								<p class="kerning">ご注文を承っております。お電話またはメールにてご連絡ください。数量によりましては、お待ちいただく場合がございます。</p><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="faq_list">
							<a href="javascript:void(0);" class="faq_list_q">
								<p class="kerning">Q</p>
								<p class="kerning ja0">領収書はもらえますか？</p><div class="clear"></div>
								<div class="faq_button">
									<div class="faq_button_inner">
										<div><span></span></div>
										<div><span></span></div>
									</div>
								</div>
							</a>
							<div class="faq_list_a opa">
								<p class="kerning">A</p>
								<p class="kerning">領収書の発行は可能です。</p><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="faq_list">
							<a href="javascript:void(0);" class="faq_list_q">
								<p class="kerning">Q</p>
								<p class="kerning ja0">藻塩のサンプルが欲しいのですが、発送してもらえますか？</p><div class="clear"></div>
								<div class="faq_button">
									<div class="faq_button_inner">
										<div><span></span></div>
										<div><span></span></div>
									</div>
								</div>
							</a>
							<div class="faq_list_a opa">
								<p class="kerning">A</p>
								<p class="kerning">申し訳ありません。サンプル品の取扱いはしておりません。</p><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="faq_list">
							<a href="javascript:void(0);" class="faq_list_q">
								<p class="kerning">Q</p>
								<p class="kerning ja0">業務用の取扱いはありますか？</p><div class="clear"></div>
								<div class="faq_button">
									<div class="faq_button_inner">
										<div><span></span></div>
										<div><span></span></div>
									</div>
								</div>
							</a>
							<div class="faq_list_a opa">
								<p class="kerning">A</p>
								<p class="kerning">飲食店様や食品会社様向けに、業務用の商品も取扱っております。詳しくはお問い合わせください。</p><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="faq_list">
							<a href="javascript:void(0);" class="faq_list_q">
								<p class="kerning">Q</p>
								<p class="kerning ja0">注文後、どのくらいで発送されますか？</p><div class="clear"></div>
								<div class="faq_button">
									<div class="faq_button_inner">
										<div><span></span></div>
										<div><span></span></div>
									</div>
								</div>
							</a>
							<div class="faq_list_a opa">
								<p class="kerning">A</p>
								<p class="kerning">ご注文確定後、7営業日以内（通常３営業日内）の発送を心がけております。お急ぎの場合はご相談下さい。</p><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="faq_list">
							<a href="javascript:void(0);" class="faq_list_q">
								<p class="kerning">Q</p>
								<p class="kerning ja0">贈答用にラッピングをお願いできますか？</p><div class="clear"></div>
								<div class="faq_button">
									<div class="faq_button_inner">
										<div><span></span></div>
										<div><span></span></div>
									</div>
								</div>
							</a>
							<div class="faq_list_a opa">
								<p class="kerning">A</p>
								<p class="kerning">申し訳ありません。贈答用のラッピングは実施しておりません。</p><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>






				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="faq_list">
							<a href="javascript:void(0);" class="faq_list_q">
								<p class="kerning">Q</p>
								<p class="kerning ja0">送料はかかりますか？</p><div class="clear"></div>
								<div class="faq_button">
									<div class="faq_button_inner">
										<div><span></span></div>
										<div><span></span></div>
									</div>
								</div>
							</a>
							<div class="faq_list_a opa">
								<p class="kerning">A</p>
								<p class="kerning">地域により異なりますが、頂戴しております。<br>（<a href="notices.html#postage" class="link">送料一覧はコチラ</a>）</p><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>





			</div>
		</div>



	</div>
</div>