@using System.Threading.Tasks
@using AnhDuyCompany.ManagerCompany.Web.Public.Startup
@using CultureHelper = AnhDuyCompany.ManagerCompany.Localization.CultureHelper
@{
    ViewBag.CurrentPageName = FrontEndPageNames.HomeIndex;
}


<!--/CONTENTS/-->
<div id="top" class="contents">
    <!--/HOME/-->
    <div id="home" class="contents_inner">
        <!--/MAIN/-->
        <div class="contents_main fix_h">
            <div class="contents_main_inner">
                <div class="contents_main_left title_w">
                    <a href="index.html" class="contents_main_logo link">
                        <img src="~/ResourcesTemplate/img/logo0.svg" alt="Bột gạo lọc Ánh Duy - Sa Đéc" />
                    </a>
                    <div class="contents_main_title">
                        <img src="~/ResourcesTemplate/img/title1.svg"
                             alt="Bột gạo lọc - tinh chế từ gạo"
                             class="pc_disp" />
                        <img src="~/ResourcesTemplate/img/title12.svg"
                             alt="Bột gạo lọc - tinh chế từ gạo"
                             class="tb_disp sp_disp" />
                    </div>
                    <div class="contents_main_button">
                        <a href="product.html" class="link">
                            <p style="font-family: 'Be Vietnam Pro', sans-serif"
                               class="kerning en0">
                                SẢN PHẨM
                            </p>
                        </a>
                        <a href="about.html" class="none link">
                            <p style="font-family: 'Be Vietnam Pro', sans-serif"
                               class="kerning en0">
                                VỀ CHÚNG TÔI
                            </p>
                        </a>
                        <a href="recipe.html" class="none link">
                            <p style="font-family: 'Be Vietnam Pro', sans-serif"
                               class="kerning en0">
                                CÔNG THỨC
                            </p>
                        </a>
                        <div class="contents_main_pager"><span></span></div>
                        <span></span>
                    </div>
                </div>
                <div class="contents_main_right">
                    <div class="contents_main_img">
                        <div id="home_slide" class="slide_first">
                            <div class="home_slide_img home_slide_img0"></div>
                            <div class="home_slide_img home_slide_img1"></div>
                            <div class="home_slide_img home_slide_img2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--/DETAIL/-->
        <div class="contents_detail">
            <div class="contents_detail_inner">
                <!--/SUBTITLE/-->
                <div id="subtitle"
                     class="contents_block scroll_element scroll_off">
                    <div class="contents_block_inner contents_w">
                        <div class="contents_block_subtitle">
                            <p style="font-family: 'Be Vietnam Pro', sans-serif"
                               class="kerning en0">
                                BỘT GẠO ÁNH - DUY
                            </p>
                        </div>
                    </div>
                </div>

                <!--/IMG/-->
                <div id="image" class="contents_block scroll_element scroll_off">
                    <div class="contents_block_inner">
                        <div class="contents_img">
                            <div class="contents_img_inner">
                                <div class="detail_img detail_img0">
                                    <img src="~/ResourcesTemplate/img/transparent0.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents_block scroll_element scroll_off">
                    <div class="contents_block_inner">
                        <div class="contents_img">
                            <div class="contents_img_inner">
                                <div class="detail_img detail_img1">
                                    <img src="~/ResourcesTemplate/img/transparent0.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--/PRODUCT/-->
                <div id="product"
                     class="contents_block scroll_element scroll_off">
                    <div class="contents_block_inner">
                        <div class="contents_block_left">
                            <div class="contents_block_title">
                                <img src="~/ResourcesTemplate/img/title1.svg" alt="Logo" />
                                <p class="kerning en0">PRODUCT</p>
                            </div>
                        </div>
                        <div class="contents_block_right">
                            <div class="home_text">
                                <p class="kerning ja0">
                                    TP Sa Đéc, tỉnh Đồng Tháp, nơi có nguồn gốc từ nghề làm
                                    bột. <br class="pc_disp tb_disp" />Các sản phẩm bột từ
                                    gạo được sản xuất theo phương pháp truyền thống được lưu
                                    truyền ở vùng này hơn 100 năm.<br class="pc_disp" />Những sản phẩm tuyệt vời từ hạt gạo qua bàn tay của
                                    người con Sa Giang.
                                </p>
                                <div></div>
                                <p class="kerning">
                                    Tên của thành phố Sa Đéc bắt nguồn một vị nữ thủy
                                    thần.<br class="pc_disp" />Bột gạo của chúng tôi có vị
                                    thuần túy - tinh thiết của gạo và được sản xuất bằng kỹ
                                    thuật làm bột truyền thống được truyền lại từ lâu đời.
                                </p>
                                <a href="product.html"
                                   class="contents_block_button opa home_button link">
                                    <p class="kerning en0"
                                       style="font-family: 'Be Vietnam Pro', sans-serif">
                                        XEM SẢN PHẨM
                                    </p>
                                    <span></span><span></span>
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <!--/IMG/-->
                <div class="contents_block scroll_element scroll_off">
                    <div class="contents_block_inner">
                        <div class="contents_img">
                            <div class="contents_img_inner">
                                <div class="detail_img detail_img2">
                                    <img src="~/ResourcesTemplate/img/transparent0.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents_block scroll_element scroll_off">
                    <div class="contents_block_inner">
                        <div class="contents_img">
                            <div class="contents_img_inner">
                                <div class="detail_img detail_img3">
                                    <img src="~/ResourcesTemplate/img/transparent0.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--/ABOUT/-->
                <div id="about" class="contents_block scroll_element scroll_off">
                    <div class="contents_block_inner">
                        <div class="contents_block_left">
                            <div class="contents_block_title">
                                <img src="~/ResourcesTemplate/img/title2.svg" alt="Logo" />
                                <p class="kerning en0">ABOUT</p>
                            </div>
                        </div>
                        <div class="contents_block_right">
                            <div class="home_text">
                                <p class="kerning ja0">
                                    Sa đéc, một thành phố nhỏ ở tỉnh Đồng Tháp.<br class="pc_disp tb_disp" />Giới thiệu về lịch sử, văn hóa của nghề làm bột và các
                                    phương pháp làm bột truyền thống.
                                </p>
                                <div></div>
                                <p class="kerning">
                                    Sa Đéc là một thành phố nhỏ bên dòng Sa Giang thuộc tỉnh
                                    Đồng Tháp.<br class="pc_disp" />Chúng tôi muốn giới
                                    thiệu với bạn mối liên hệ giữa nghề làm bột truyền thống
                                    ở Sa Đéc và những người sống ở đó.
                                </p>
                                <a href="about.html"
                                   class="contents_block_button opa home_button link">
                                    <p class="kerning en0"
                                       style="font-family: 'Be Vietnam Pro', sans-serif">
                                        XEM THÊM
                                    </p>
                                    <span></span><span></span>
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <!--/IMG/-->
                <div class="contents_block scroll_element scroll_off">
                    <div class="contents_block_inner">
                        <div class="contents_img">
                            <div class="contents_img_inner">
                                <div class="detail_img detail_img4">
                                    <img src="~/ResourcesTemplate/img/transparent0.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents_block scroll_element scroll_off">
                    <div class="contents_block_inner">
                        <div class="contents_img">
                            <div class="contents_img_inner">
                                <div class="detail_img detail_img5">
                                    <img src="~/ResourcesTemplate/img/transparent0.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--/RECIPE/-->
                <div id="recipe" class="contents_block scroll_element scroll_off">
                    <div class="contents_block_inner">
                        <div class="contents_block_left">
                            <div class="contents_block_title">
                                <img src="~/ResourcesTemplate/img/title3.svg" alt="Logo" />
                                <p class="kerning en0">RECIPE</p>
                            </div>
                        </div>
                        <div class="contents_block_right">
                            <div class="home_text">
                                <p class="kerning ja0">
                                    Thưởng thức hương vị của các món ăn làm từ bột gạo trọn
                                    vẹn tại nhà.<br class="pc_disp tb_disp" />
                                    Chia sẽ hương vị, món ăn từ bột đến người yêu thương.
                                </p>
                                <div></div>
                                <p class="kerning">
                                    Với những công thức đơn giản, bạn có thể thưởng thức
                                    ngay tại nhà của mình hương vị của từ các loại bánh, hủ
                                    tiếu... mà chúng tôi đã dành thời gian và công sức để
                                    sản xuất.
                                </p>
                                <a href="recipe.html"
                                   class="contents_block_button opa home_button link">
                                    <p class="kerning en0">XEM THÊM</p>
                                    <span></span><span></span>
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--/THANKS/-->
        <div class="thanks none">
            <div class="thanks_text">
                <p class="kerning ja0">Yêu cầu của bạn đã được nhận</p>
                <p class="kerning ja0">
                    Một email xác nhận đã được gửi đến địa chỉ email bạn đã nhập.
                </p>
            </div>
            <a href="javascript:void(0);" class="thanks_close">
                <span></span>
                <p class="kerning en0">Đóng</p>
            </a>
        </div>
    </div>
</div>