@using System.Threading.Tasks
@using AnhDuyCompany.ManagerCompany.Web.Public.Startup
@using CultureHelper = AnhDuyCompany.ManagerCompany.Localization.CultureHelper
@{
	ViewBag.CurrentPageName = FrontEndPageNames.Product;
}
	<!--/CONTENTS/-->
<div id="top" class="contents">
	<!--/PRODUCT/-->
	<div id="product" class="contents_inner">



		<!--/MAIN/-->
		<div class="contents_main fix_h">
			<div class="contents_main_inner">
				<div class="contents_main_left title_w">
					<a href="index.html" class="contents_main_logo link"><img src="~/ResourcesTemplate/img/logo0.svg" alt="塩竈の藻塩｜塩竈製塩｜SHIOGAMA NO MOSHIO"></a>
					<div class="contents_main_title"><img src="~/ResourcesTemplate/img/title1.svg" alt="塩竈の藻塩"></div>
				</div>
				<div class="contents_main_right">
					<div class="contents_main_img"><div></div></div>
				</div>
			</div>
		</div>



		<!--/DETAIL/-->
		<div class="contents_detail">
			<div class="contents_detail_inner">



				<div id="subtitle" class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner contents_w">
						<div class="contents_block_subtitle"><p class="kerning en0">PRODUCT</p></div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_block_text"><p class="kerning ja0">地域に語り継がれる製塩法をたどり、<br class="tb_disp sp_disp">炊き上げた『塩竈の藻塩』。<br>海と共に生き、土地の文化を積み重ねた<br class="tb_disp sp_disp">先人たちの暮らしに思いを馳せながら、<br>その奥深い味わいをお楽しみください。</p></div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div id="product_list0" class="product_list">
							<div class="product_list_left">
								<div class="product_slide">
									<div class="product_slide_img product_slide_img0"><img src="~/ResourcesTemplate/img/product_img0.jpg"></div>
									<div class="product_slide_img product_slide_img1"><img src="~/ResourcesTemplate/img/product_img1.jpg"></div>
								</div>
							</div>
							<div class="product_list_right">
								<div class="product_list_tite">
									<p class="kerning ja0">竈炊キ結晶<span>（かまどだきけっしょう）</span></p>
									<p class="kerning">結晶状</p><div class="clear"></div>
								</div>
								<div class="product_list_text">
									<p class="kerning ja0">海水を丁寧に炊き上げ、花びらのように結晶化させました。<br class="pc_disp">サクサクとした食感が特徴で、口の中でゆっくり溶け、奥深い味わいを楽しめます。</p>
								</div>
								<div class="product_list_line"></div>
								<div class="product_list_detail">
									<p class="kerning"><span>価格</span></p>
									<p class="kerning"><span>1,058</span>円（税込）</p>
									<p class="kerning">原材料名<br>内容量<br>製造方法</p>
									<p class="kerning">海水、海藻<br>40g<br>原材料名：海水（塩竈沖）、海藻（塩竈）<br>工程：浸漬、平釜、乾燥</p><div class="clear"></div>
								</div>
								<div class="product_list_stamp"><img src="~/ResourcesTemplate/img/stamp0.png" alt="選別品"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div id="product_list1" class="product_list">
							<div class="product_list_left">
								<div class="product_slide">
									<div class="product_slide_img product_slide_img0"><img src="~/ResourcesTemplate/img/product_img2.jpg"></div>
									<div class="product_slide_img product_slide_img1"><img src="~/ResourcesTemplate/img/product_img3.jpg"></div>
								</div>
							</div>
							<div class="product_list_right">
								<div class="product_list_tite">
									<p class="kerning ja0">竈炊キ藻塩<span>（かまどだきもしお）</span></p>
									<p class="kerning">粒状</p><div class="clear"></div>
								</div>
								<div class="product_list_text">
									<p class="kerning ja0">粒子の細かい純白の藻塩です。<br class="pc_disp">口あたりは軽く、舌の上でふわりと溶けていきます。<br class="pc_disp">雑味が少なく、ほのかな甘みを含んだまろやかな味わいです。</p>
								</div>
								<div class="product_list_line"></div>
								<div class="product_list_detail">
									<p class="kerning"><span>価格</span></p>
									<p class="kerning"><span>864</span>円（税込）</p>
									<p class="kerning">原材料名<br>内容量<br>製造方法</p>
									<p class="kerning">海水、海藻<br>50g<br>原材料名：海水（塩竈沖）、海藻（塩竈）<br>工程：浸漬、平釜、乾燥</p><div class="clear"></div>
								</div>
								<div class="product_list_stamp"><img src="~/ResourcesTemplate/img/stamp0.png" alt="選別品"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div id="product_list2" class="product_list">
							<div class="product_list_left">
								<div class="product_slide">
									<div class="product_slide_img product_slide_img0"><img src="~/ResourcesTemplate/img/product_img4.jpg"></div>
									<div class="product_slide_img product_slide_img1"><img src="~/ResourcesTemplate/img/product_img5.jpg"></div>
								</div>
							</div>
							<div class="product_list_right">
								<div class="product_list_tite">
									<p class="kerning ja0">藻塩と結晶 詰め合わせ</p>
								</div>
								<div class="product_list_text">
									<p class="kerning ja0">「竈炊キ結晶(選別品)」、「竈炊キ藻塩(選別品)」をそれぞれ1瓶ずつ、「塩竈の藻塩 小冊子」と共にお届けいたします。<br class="pc_disp">ご贈答などにお勧めです。</p>
								</div>
								<div class="product_list_line"></div>
								<div class="product_list_detail">
									<p class="kerning"><span>価格</span></p>
									<p class="kerning"><span>1,998</span>円（税込）</p>
									<p class="kerning">内容物</p>
									<p class="kerning">竈炊キ結晶(40g)×1個<br>竈炊キ藻塩(50g)×1個<br>塩竈の藻塩小冊子×1冊</p><div class="clear"></div>
								</div>
								<div class="product_list_stamp"><img src="~/ResourcesTemplate/img/stamp0.png" alt="選別品"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div id="product_list3" class="product_list">
							<div class="product_list_left">
								<div class="product_slide">
									<div class="product_slide_img product_slide_img0"><img src="~/ResourcesTemplate/img/new_product_img0.jpg"></div>
									<div class="product_slide_img product_slide_img1"><img src="~/ResourcesTemplate/img/new_product_img1.jpg"></div>
									<div class="product_slide_img product_slide_img2"><img src="~/ResourcesTemplate/img/new_product_img2.jpg"></div>
								</div>
							</div>
							<div class="product_list_right">
								<div class="product_list_tite">
									<p class="kerning ja0">燻塩 藻塩とサクラ<span>（いぶしお もしおとさくら）</span></p>
									<div class="clear"></div>
								</div>
								<div class="product_list_text">
									<p class="kerning ja0">塩竈の地に咲く桜の剪定枝をチップにして、花びら状の薄い結晶塩を燻し香りづけしました。<br class="pc_disp">塩竈の藻塩とのセット包みになっております。</p>
								</div>
								<div class="product_list_line"></div>
								<div class="product_list_detail">
									<p class="kerning"><span>価格</span></p>
									<p class="kerning"><span>540</span>円（税込）</p>
									<p class="kerning">原材料名<br>内容量<br>製造方法</p>
									<p class="kerning">海水（塩竈沖）、海藻（塩竈）<br>塩竈の藻塩3g、燻塩サクラ 3g<br>原材料名：海水（塩竈沖）、海藻（塩竈）<br>工程：浸漬、平釜、乾燥、燻製</p><div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div id="product_list4" class="product_list">
							<div class="product_list_left">
								<div class="product_slide">
									<div class="product_slide_img product_slide_img0"><img src="~/ResourcesTemplate/img/new_product_img3.jpg"></div>
									<div class="product_slide_img product_slide_img1"><img src="~/ResourcesTemplate/img/new_product_img4.jpg"></div>
									<div class="product_slide_img product_slide_img2"><img src="~/ResourcesTemplate/img/new_product_img5.jpg"></div>
								</div>
							</div>
							<div class="product_list_right">
								<div class="product_list_tite">
									<p class="kerning ja0">燻塩 藻塩と緑茶<span>（いぶしお もしおとりょくちゃ）</span></p>
									<div class="clear"></div>
								</div>
								<div class="product_list_text">
									<p class="kerning ja0">塩竈の老舗御茶屋の国産茶葉を使用して、花びら状の薄い結晶塩を燻し香りづけしました。<br class="pc_disp">塩竈の藻塩とのセット包みになっております。</p>
								</div>
								<div class="product_list_line"></div>
								<div class="product_list_detail">
									<p class="kerning"><span>価格</span></p>
									<p class="kerning"><span>540</span>円（税込）</p>
									<p class="kerning">原材料名<br>内容量<br>製造方法</p>
									<p class="kerning">海水（塩竈沖）、海藻（塩竈）<br>塩竈の藻塩3g、燻塩緑茶 3g<br>原材料名：海水（塩竈沖）、海藻（塩竈）<br>工程：浸漬、平釜、乾燥、燻製</p><div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div id="product_list5" class="product_list">
							<div class="product_list_left">
								<div class="product_slide">
									<div class="product_slide_img product_slide_img0"><img src="~/ResourcesTemplate/img/new_product_img6.jpg"></div>
									<div class="product_slide_img product_slide_img1"><img src="~/ResourcesTemplate/img/new_product_img7.jpg"></div>
								</div>
							</div>
							<div class="product_list_right">
								<div class="product_list_tite">
									<p class="kerning ja0">燻塩 慶<span>（いぶしお よろこび）</span></p>
									<div class="clear"></div>
								</div>
								<div class="product_list_text">
									<p class="kerning ja0">プチギフト向けのお祝い事パッケージとしてご用意いたしました。<br class="pc_disp">製塩を伝えた塩土老翁神は、航海や旅の安全を祈願する導きの神、潮の満ち引きを司る事から安産祈願の神として知られております。</p>
								</div>
								<div class="product_list_line"></div>
								<div class="product_list_detail">
									<p class="kerning"><span>価格</span></p>
									<p class="kerning"><span>540</span>円（税込）</p>
									<p class="kerning">※こちらは「燻塩 藻塩とサクラ」のプチギフト向けにパッケージを変更した商品です。</p><div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="product_trademark">
							<p class="kerning ja0">「塩竈の藻塩」は合同会社顔晴れ塩竈の登録商標です。</p>
							<p class="kerning">※製品中に海藻の一部が混入している場合があります。</p>
						</div>
					</div>
				</div>



			</div>
		</div>



	</div>
</div>
