@using System.Threading.Tasks
@using AnhDuyCompany.ManagerCompany.Web.Public.Startup
@using CultureHelper = AnhDuyCompany.ManagerCompany.Localization.CultureHelper
@{
	ViewBag.CurrentPageName = FrontEndPageNames.Product;
}
	<!--/CONTENTS/-->
<div id="top" class="contents">
	<!--/PRODUCT/-->
	<div id="product" class="contents_inner">



		<!--/MAIN/-->
		<div class="contents_main fix_h">
			<div class="contents_main_inner">
				<div class="contents_main_left title_w">
					<a href="index.html" class="contents_main_logo link"><img src="~/ResourcesTemplate/img/logo0.svg" alt="塩竈の藻塩｜塩竈製塩｜SHIOGAMA NO MOSHIO"></a>
					<div class="contents_main_title"><img src="~/ResourcesTemplate/img/title1.svg" alt="塩竈の藻塩"></div>
				</div>
				<div class="contents_main_right">
					<div class="contents_main_img"><div></div></div>
				</div>
			</div>
		</div>



		<!--/DETAIL/-->
		<div class="contents_detail">
			<div class="contents_detail_inner">



				<div id="subtitle" class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner contents_w">
						<div class="contents_block_subtitle"><p class="kerning en0">PRODUCT</p></div>
					</div>
				</div>


				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_block_text">
							<p class="kerning ja0">
								Bột gạo lọc Ánh Duy  là một sản phẩm của làng bột Sa đéc
							<br class="tb_disp sp_disp">
								<br>mang tinh túy của hạt gạo vùng Đồng Bằng Sông Cửu Long<br class="tb_disp sp_disp">và tài hoa của người dân vùng Sa Đéc.<br>
							</p>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div id="product_list0" class="product_list">
							<div class="product_list_left">
								<div class="product_slide">
									<div class="product_slide_img product_slide_img0"><img src="~/ResourcesTemplate/img/product_img0.jpg"></div>
									<div class="product_slide_img product_slide_img1"><img src="~/ResourcesTemplate/img/product_img1.jpg"></div>
								</div>
							</div>
							<div class="product_list_right">
								<div class="product_list_tite">
									<p class="kerning ja0">竈炊キ結晶<span>（かまどだきけっしょう）</span></p>
									<p class="kerning">結晶状</p><div class="clear"></div>
								</div>
								<div class="product_list_text">
									<p class="kerning ja0">海水を丁寧に炊き上げ、花びらのように結晶化させました。<br class="pc_disp">サクサクとした食感が特徴で、口の中でゆっくり溶け、奥深い味わいを楽しめます。</p>
								</div>
								<div class="product_list_line"></div>
								<div class="product_list_detail">
									<p class="kerning"><span>価格</span></p>
									<p class="kerning"><span>1,058</span>円（税込）</p>
									<p class="kerning">原材料名<br>内容量<br>製造方法</p>
									<p class="kerning">海水、海藻<br>40g<br>原材料名：海水（塩竈沖）、海藻（塩竈）<br>工程：浸漬、平釜、乾燥</p><div class="clear"></div>
								</div>
								<div class="product_list_stamp"><img src="~/ResourcesTemplate/img/stamp0.png" alt="選別品"></div>
							</div>
						</div>
					</div>
				</div>

@*
				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="product_trademark">
							<p class="kerning ja0">「塩竈の藻塩」は合同会社顔晴れ塩竈の登録商標です。</p>
							<p class="kerning">※製品中に海藻の一部が混入している場合があります。</p>
						</div>
					</div>
				</div>*@



			</div>
		</div>



	</div>
</div>
