@using System.Threading.Tasks
@using AnhDuyCompany.ManagerCompany.Web.Public.Startup
@using CultureHelper = AnhDuyCompany.ManagerCompany.Localization.CultureHelper
@{
	ViewBag.CurrentPageName = FrontEndPageNames.Recipe;
}

<!--/CONTENTS/-->
<div id="top" class="contents">
	<!--/RECIPE/-->
	<div id="recipe" class="contents_inner">



		<!--/MAIN/-->
		<div class="contents_main fix_h">
			<div class="contents_main_inner">
				<div class="contents_main_left title_w">
					<a href="index.html" class="contents_main_logo link"><img src="~/ResourcesTemplate/img/logo0.svg" alt="塩竈の藻塩｜塩竈製塩｜SHIOGAMA NO MOSHIO"></a>
					<div class="contents_main_title"><img src="~/ResourcesTemplate/img/title3.svg" alt="藻塩レシピ"></div>
				</div>
				<div class="contents_main_right">
					<div class="contents_main_img"><div></div></div>
				</div>
			</div>
		</div>



		<!--/DETAIL/-->
		<div class="contents_detail">
			<div class="contents_detail_inner">



				<div id="subtitle" class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner contents_w">
						<div class="contents_block_subtitle"><p class="kerning en0">RECIPE</p></div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_block_text"><p class="kerning ja0">クセが少なくまろやかな『塩竈の藻塩』は、<br>さまざまな食材の味わいを<br class="sp_disp">最大限に引き出してくれます。<br>簡単な使用例をいくつかご提案します。</p></div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_img">
							<div class="contents_img_inner">
								<div class="detail_img detail_img5"><img src="~/ResourcesTemplate/img/transparent0.png"></div>
							</div>
							<a href="javascript:void(0);" class="recipe_button">
								<div class="recipe_button_inner">
									<div><span></span></div>
									<div><span></span></div>
								</div>
							</a>
						</div>
						<div class="recipe_detail opa">
							<div class="recipe_detail_inner">
								<div class="recipe_title"><p class="kerning ja0">マグロ刺身と藻塩</p></div>
								<div class="recipe_text"><p class="kerning ja0">藻塩と柑橘の香りが絶妙に合う、<br class="sp_disp">海鮮に藻塩を合わせる定番です。<br>柑橘類はすだちがおすすめです。<br>柑橘類を絞り果汁を塩に染み込ませ、<br class="sp_disp">塩が溶け出したところを味わいます。</p></div>
								<div class="recipe_howto">
									<div><p class="kerning">作り方</p></div>
									<div><p class="kerning">1.</p><p class="kerning">マグロの刺身に結晶塩をのせます。</p><div class="clear"></div></div>
									<div><p class="kerning">2.</p><p class="kerning">その上から柑橘類を絞り、果汁を塩に染み込ませます。</p><div class="clear"></div></div>
									<div><p class="kerning">3.</p><p class="kerning">塩が溶け出したところを味わいます。</p><div class="clear"></div></div>
								</div>
								<div class="recipe_material">
									<div><p class="kerning">材料</p></div>
									<div><p class="kerning">マグロ（赤身〜中トロ）<br>柑橘類<br>竈炊キ結晶</p><div class="clear"></div></div>
								</div><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_img">
							<div class="contents_img_inner">
								<div class="detail_img detail_img4"><img src="~/ResourcesTemplate/img/transparent0.png"></div>
							</div>
							<a href="javascript:void(0);" class="recipe_button">
								<div class="recipe_button_inner">
									<div><span></span></div>
									<div><span></span></div>
								</div>
							</a>
						</div>
						<div class="recipe_detail opa">
							<div class="recipe_detail_inner">
								<div class="recipe_title"><p class="kerning ja0">カリカリ鶏肉と藻塩</p></div>
								<div class="recipe_text"><p class="kerning ja0">ソテーした香ばしさと鶏肉の食感を損なうことなく<br class="sp_disp">藻塩で味わう、飽きのこない一品です。<br>カリカリに焼いた鶏肉の肉汁と藻塩が合わさって<br class="sp_disp">旨味が引き出されます。</p></div>
								<div class="recipe_howto">
									<div><p class="kerning">作り方</p></div>
									<div><p class="kerning">1.</p><p class="kerning">ポリ袋に鶏肉と香草と塩を入れて軽く揉みます。</p><div class="clear"></div></div>
									<div><p class="kerning">2.</p><p class="kerning">フライパンで鶏肉の皮面からソテーします。</p><div class="clear"></div></div>
									<div><p class="kerning">3.</p><p class="kerning">皮面がカリカリに焼けていれば裏返して、弱火で焼きます。</p><div class="clear"></div></div>
									<div><p class="kerning">4.</p><p class="kerning">両面に火が通ったら、藻塩を振り味付けします。</p><div class="clear"></div></div>
								</div>
								<div class="recipe_material">
									<div><p class="kerning">材料</p></div>
									<div><p class="kerning">鶏肉<br>香草<br>竈炊キ藻塩</p><div class="clear"></div></div>
								</div><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_img">
							<div class="contents_img_inner">
								<div class="detail_img detail_img12"><img src="~/ResourcesTemplate/img/transparent0.png"></div>
							</div>
							<a href="javascript:void(0);" class="recipe_button">
								<div class="recipe_button_inner">
									<div><span></span></div>
									<div><span></span></div>
								</div>
							</a>
						</div>
						<div class="recipe_detail opa">
							<div class="recipe_detail_inner">
								<div class="recipe_title"><p class="kerning ja0">目玉焼きと藻塩</p></div>
								<div class="recipe_text"><p class="kerning ja0">朝食の定番の目玉焼きは<br class="sp_disp">卵そのままの味を楽しめる調理法です。<br>シンプルに卵を味わいたい時には<br class="sp_disp">藻塩がおすすめです。</p></div>
								<div class="recipe_howto">
									<div><p class="kerning">作り方</p></div>
									<div><p class="kerning">1.</p><p class="kerning">フライパンに油をひき、温めます。</p><div class="clear"></div></div>
									<div><p class="kerning">2.</p><p class="kerning">卵を割り入れ、弱火でじっくり焼きます。</p><div class="clear"></div></div>
									<div><p class="kerning">3.</p><p class="kerning">焼きあがったら藻塩を振ります。</p><div class="clear"></div></div>
								</div>
								<div class="recipe_material">
									<div><p class="kerning">材料</p></div>
									<div><p class="kerning">卵<br>竈炊キ藻塩</p><div class="clear"></div></div>
								</div><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_img">
							<div class="contents_img_inner">
								<div class="detail_img detail_img10"><img src="~/ResourcesTemplate/img/transparent0.png"></div>
							</div>
							<a href="javascript:void(0);" class="recipe_button">
								<div class="recipe_button_inner">
									<div><span></span></div>
									<div><span></span></div>
								</div>
							</a>
						</div>
						<div class="recipe_detail opa">
							<div class="recipe_detail_inner">
								<div class="recipe_title"><p class="kerning ja0">トマトと藻塩</p></div>
								<div class="recipe_text"><p class="kerning ja0">やさしい塩味が<br class="sp_disp">トマトの甘みと旨みを引き立てます。<br>結晶塩のザクザクとした食感を楽しみながら、<br class="sp_disp">素材の味をそのまま味わう<br class="sp_disp">シンプルな使い方です。<br>カットしたトマトに塩を振り味わいます。</p></div>
								<div class="recipe_howto">
									<div><p class="kerning">作り方</p></div>
									<div><p class="kerning">1.</p><p class="kerning">トマトをカットします。</p><div class="clear"></div></div>
									<div><p class="kerning">2.</p><p class="kerning">結晶塩を振ります。</p><div class="clear"></div></div>
								</div>
								<div class="recipe_material">
									<div><p class="kerning">材料</p></div>
									<div><p class="kerning">中玉トマト<br>竈炊キ結晶</p><div class="clear"></div></div>
								</div><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_img">
							<div class="contents_img_inner">
								<div class="detail_img detail_img11"><img src="~/ResourcesTemplate/img/transparent0.png"></div>
							</div>
							<a href="javascript:void(0);" class="recipe_button">
								<div class="recipe_button_inner">
									<div><span></span></div>
									<div><span></span></div>
								</div>
							</a>
						</div>
						<div class="recipe_detail opa">
							<div class="recipe_detail_inner">
								<div class="recipe_title"><p class="kerning ja0">じゃがいもと藻塩</p></div>
								<div class="recipe_text"><p class="kerning ja0">じゃがいもを蒸したホクホクの食感と<br class="sp_disp">自然な甘みと香りを塩で味わう一品です。<br>くせのない塩味でじゃがいも本来の味を楽しめます。<br>蒸したじゃがいもに塩を振るだけ。<br class="sp_disp">お好みで香草や胡椒を合わせます。	</p></div>
								<div class="recipe_howto">
									<div><p class="kerning">作り方</p></div>
									<div><p class="kerning">1.</p><p class="kerning">じゃがいもに十字の切り込みを入れます。</p><div class="clear"></div></div>
									<div><p class="kerning">2.</p><p class="kerning">じゃがいもを蒸し器で20分蒸します。</p><div class="clear"></div></div>
									<div><p class="kerning">3.</p><p class="kerning">蒸したじゃがいもに藻塩を振ります。</p><div class="clear"></div></div>
								</div>
								<div class="recipe_material">
									<div><p class="kerning">材料</p></div>
									<div><p class="kerning">ジャガイモ<br>竈炊キ藻塩</p><div class="clear"></div></div>
								</div><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_img">
							<div class="contents_img_inner">
								<div class="detail_img detail_img15"><img src="~/ResourcesTemplate/img/transparent0.png"></div>
							</div>
							<a href="javascript:void(0);" class="recipe_button">
								<div class="recipe_button_inner">
									<div><span></span></div>
									<div><span></span></div>
								</div>
							</a>
						</div>
						<div class="recipe_detail opa">
							<div class="recipe_detail_inner">
								<div class="recipe_title"><p class="kerning ja0">アイスクリームと藻塩</p></div>
								<div class="recipe_text"><p class="kerning ja0">アイスクリームに藻塩を振ると<br class="sp_disp">より上品さが増すアクセントになります。<br>藻塩に含まれるミネラル分も加味されて、<br>甘みを際立たせながら後味はさっぱりと楽しめます。</p></div>
								<div class="recipe_howto">
									<div><p class="kerning">作り方</p></div>
									<div><p class="kerning">1.</p><p class="kerning">アイスクリームに結晶塩を振ります。</p><div class="clear"></div></div>
								</div>
								<div class="recipe_material">
									<div><p class="kerning">材料</p></div>
									<div><p class="kerning">アイスクリーム<br>竈炊キ結晶</p><div class="clear"></div></div>
								</div><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_img">
							<div class="contents_img_inner">
								<div class="detail_img detail_img17"><img src="~/ResourcesTemplate/img/transparent0.png"></div>
							</div>
							<a href="javascript:void(0);" class="recipe_button">
								<div class="recipe_button_inner">
									<div><span></span></div>
									<div><span></span></div>
								</div>
							</a>
						</div>
						<div class="recipe_detail opa">
							<div class="recipe_detail_inner">
								<div class="recipe_title"><p class="kerning ja0">コーヒーと藻塩</p></div>
								<div class="recipe_text"><p class="kerning ja0">コーヒー発祥の地で飲まれている塩コーヒー。<br>塩ひとつまみ入れると、コーヒーの酸味を和らげ、<br class="sp_disp">まろやかで奥行きのある味わいになります。<br>酸味のあるコーヒーにオススメです。</p></div>
								<div class="recipe_howto">
									<div><p class="kerning">作り方</p></div>
									<div><p class="kerning">1.</p><p class="kerning">コーヒーに藻塩をひとつまみ振ります。</p><div class="clear"></div></div>
									<div><p class="kerning">2.</p><p class="kerning">スプーンで一混ぜします。</p><div class="clear"></div></div>
								</div>
								<div class="recipe_material">
									<div><p class="kerning">材料</p></div>
									<div><p class="kerning">ホットコーヒー<br>竈炊キ藻塩</p><div class="clear"></div></div>
								</div><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_img">
							<div class="contents_img_inner">
								<div class="detail_img detail_img16"><img src="~/ResourcesTemplate/img/transparent0.png"></div>
							</div>
							<a href="javascript:void(0);" class="recipe_button">
								<div class="recipe_button_inner">
									<div><span></span></div>
									<div><span></span></div>
								</div>
							</a>
						</div>
						<div class="recipe_detail opa">
							<div class="recipe_detail_inner">
								<div class="recipe_title"><p class="kerning ja0">焼酎ハイボールと藻塩</p></div>
								<div class="recipe_text"><p class="kerning ja0">焼酎ハイボールに結晶塩を振り、<br class="sp_disp">混ぜずに結晶を静かに溶かしながら味わいます。<br>底に近づくほどに塩味を感じる爽やかな飲み口です。<br>塩味を効かせる時はグラス縁をスノースタイルに。</p></div>
								<div class="recipe_howto">
									<div><p class="kerning">作り方</p></div>
									<div><p class="kerning">1.</p><p class="kerning">グラスに氷を入れます。</p><div class="clear"></div></div>
									<div><p class="kerning">2.</p><p class="kerning">グラスに焼酎ハイボールを注ぎます。</p><div class="clear"></div></div>
									<div><p class="kerning">3.</p><p class="kerning">結晶塩を振ります。（かき混ぜない）</p><div class="clear"></div></div>
								</div>
								<div class="recipe_material">
									<div><p class="kerning">材料</p></div>
									<div><p class="kerning">ハイボール<br>氷<br>レモン<br>竈炊キ結晶</p><div class="clear"></div></div>
								</div><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_img">
							<div class="contents_img_inner">
								<div class="detail_img detail_img14"><img src="~/ResourcesTemplate/img/transparent0.png"></div>
							</div>
							<a href="javascript:void(0);" class="recipe_button">
								<div class="recipe_button_inner">
									<div><span></span></div>
									<div><span></span></div>
								</div>
							</a>
						</div>
						<div class="recipe_detail opa">
							<div class="recipe_detail_inner">
								<div class="recipe_title"><p class="kerning ja0">ハーブソルト</p></div>
								<div class="recipe_text"><p class="kerning ja0">肉、魚介、野菜どんな料理にも相性が良く、<br>一振りするだけで<br class="sp_disp">味に深みを与えてくれるハーブソルトです。<br>ハーブの合わせ方で様々にアレンジが楽しめます。<br>生ハーブを使うと香りが良くて<br class="sp_disp">美味しいのでおすすめです。</p></div>
								<div class="recipe_howto">
									<div><p class="kerning">作り方</p></div>
									<div><p class="kerning">1.</p><p class="kerning">お好みの香草を電子レンジで乾燥するまで加熱します。</p><div class="clear"></div></div>
									<div><p class="kerning">2.</p><p class="kerning">乾燥したハーブを細かく刻みます。</p><div class="clear"></div></div>
									<div><p class="kerning">3.</p><p class="kerning">ハーブの2〜3倍の塩を加えて軽く混ぜます。</p><div class="clear"></div></div>
									<div><p class="kerning">4.</p><p class="kerning">保存瓶に入れて冷蔵庫で保存します。</p><div class="clear"></div></div>
								</div>
								<div class="recipe_material">
									<div><p class="kerning">材料</p></div>
									<div><p class="kerning">ハーブ<br>瓶<br>竈炊キ藻塩</p><div class="clear"></div></div>
								</div><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="contents_img">
							<div class="contents_img_inner">
								<div class="detail_img detail_img13"><img src="~/ResourcesTemplate/img/transparent0.png"></div>
							</div>
							<a href="javascript:void(0);" class="recipe_button">
								<div class="recipe_button_inner">
									<div><span></span></div>
									<div><span></span></div>
								</div>
							</a>
						</div>
						<div class="recipe_detail opa">
							<div class="recipe_detail_inner">
								<div class="recipe_title"><p class="kerning ja0">藻塩ドレッシング</p></div>
								<div class="recipe_text"><p class="kerning ja0">海水と海藻のみを原料につくった塩なので、<br>こだわりのオイルや酢とともに合わせて、<br class="sp_disp">ご家庭で無添加のドレッシングが簡単に作れます。<br>身体にいいものを美味しく食べるための<br class="sp_disp">ドレッシングです。</p></div>
								<div class="recipe_howto">
									<div><p class="kerning">作り方</p></div>
									<div><p class="kerning">1.</p><p class="kerning">オリーブオイルと酢（1：1）を混ぜ合わせます。</p><div class="clear"></div></div>
									<div><p class="kerning">2.</p><p class="kerning">お好みで香草や香辛料などを加えます。</p><div class="clear"></div></div>
									<div><p class="kerning">3.</p><p class="kerning">結晶塩を振り軽く合わせます。</p><div class="clear"></div></div>
								</div>
								<div class="recipe_material">
									<div><p class="kerning">材料</p></div>
									<div><p class="kerning">オリーブオイル<br>酢<br>香草<br>香辛料<br>竈炊キ結晶</p><div class="clear"></div></div>
								</div><div class="clear"></div>
							</div>
						</div>
					</div>
				</div>



			</div>
		</div>



	</div>
</div>
