@using System.Threading.Tasks
@using AnhDuyCompany.ManagerCompany.Web.Public.Startup
@using CultureHelper = AnhDuyCompany.ManagerCompany.Localization.CultureHelper
@{
	ViewBag.CurrentPageName = FrontEndPageNames.Shop;
}

<!--/CONTENTS/-->
<div id="top" class="contents">
	<!--/SHOP/-->
	<div id="shop" class="contents_inner">
		<!--/MAIN/-->
		<div class="contents_main fix_h">
			<div class="contents_main_inner">
				<div class="contents_main_left title_w">
					<a href="index.html" class="contents_main_logo link"><img src="~/ResourcesTemplate/img/logo0.svg" alt="塩竈の藻塩｜塩竈製塩｜SHIOGAMA NO MOSHIO"></a>
					<div class="contents_main_title"><img src="~/ResourcesTemplate/img/title5.svg" alt="販売店一覧"></div>
				</div>
				<div class="contents_main_right">
					<div class="contents_main_img"><div></div></div>
				</div>
			</div>
		</div>



		<!--/DETAIL/-->
		<div class="contents_detail">
			<div class="contents_detail_inner">



				<div id="subtitle" class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner contents_w">
						<div class="contents_block_subtitle"><p class="kerning en0">SHOP</p></div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="shop_area"><p class="kerning">SA ĐÉC</p></div>

						<div class="shop_list">
							<p class="kerning ja0">Cửa hàng Bột Gạo Ánh - Duy 01</p>
							<p class="kerning">985-0002	Phường 1 <br>TEL.022-367-9651　FAX.022-367-9651<br><a href="http://shiogamachinoeki.main.jp/" target="_blank">http://shiogamachinoeki.main.jp</a></p><div class="clear"></div>
						</div>

						<div class="shop_list">
							<p class="kerning ja0">Cửa hàng Bột Gạo Ánh - Duy 02 </p>
							<p class="kerning">985-0002	Phường 2 <br>TEL.022-367-9651　FAX.022-367-9651<br><a href="http://shiogamachinoeki.main.jp/" target="_blank">http://shiogamachinoeki.main.jp</a></p><div class="clear"></div>
						</div>
						<div class="shop_list">
							<p class="kerning ja0">Cửa hàng Bột Gạo Ánh - Duy 03 </p>
							<p class="kerning">985-0002	Phường 3 <br>TEL.022-367-9651　FAX.022-367-9651<br><a href="http://shiogamachinoeki.main.jp/" target="_blank">http://shiogamachinoeki.main.jp</a></p><div class="clear"></div>
						</div>
						<div class="shop_list">
							<p class="kerning ja0">Cửa hàng Bột Gạo Ánh - Duy 04</p>
							<p class="kerning">985-0002	Phường 4<br>TEL.022-367-9651　FAX.022-367-9651<br><a href="http://shiogamachinoeki.main.jp/" target="_blank">http://shiogamachinoeki.main.jp</a></p><div class="clear"></div>
						</div>


						<div class="clear"></div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="shop_area"><p class="kerning">HỒ CHÍ MINH</p></div>

						<div class="shop_list">
							<p class="kerning ja0">Bách Hóa Xanh</p>
							<p class="kerning">28 Nguyễn Xiễn, phường Tân Phú, Q9<br>TEL.03-5956-3511<br><a href="http://cocomiyagi.jp/" target="_blank">http://cocomiyagi.jp</a></p><div class="clear"></div>
						</div>

						<div class="shop_list">
							<p class="kerning ja0">Co.op mart</p>
							<p class="kerning">28 Nguyễn Xiễn, phường Tân Phú, Q9<br>TEL.03-5956-3511<br><a href="http://cocomiyagi.jp/" target="_blank">http://cocomiyagi.jp</a></p><div class="clear"></div>
						</div>

						<div class="clear"></div>
					</div>
				</div>



				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="shop_area"><p class="kerning">CẦN THƠ</p></div>

						<div class="shop_list">
							<p class="kerning ja0">Bách Hóa Xanh</p>
							<p class="kerning">28 Nguyễn Xiễn, phường Ninh Kiều<br>TEL.03-5956-3511<br><a href="http://cocomiyagi.jp/" target="_blank">http://cocomiyagi.jp</a></p><div class="clear"></div>
						</div>

						<div class="shop_list">
							<p class="kerning ja0">Bách Hóa Xanh</p>
							<p class="kerning">38 Nguyễn Xiễn, phường Ninh Kiều<br>TEL.03-5956-3511<br><a href="http://cocomiyagi.jp/" target="_blank">http://cocomiyagi.jp</a></p><div class="clear"></div>
						</div>

						<div class="clear"></div>
					</div>
				</div>

				<div class="contents_block scroll_element scroll_off">
					<div class="contents_block_inner">
						<div class="shop_area"><p class="kerning">CÀ MAU</p></div>

						<div class="shop_list">
							<p class="kerning ja0">Bách Hóa Xanh</p>
							<p class="kerning">28 Định Quán<br>TEL.03-5956-3511<br><a href="http://cocomiyagi.jp/" target="_blank">http://cocomiyagi.jp</a></p><div class="clear"></div>
						</div>

						<div class="clear"></div>
					</div>
				</div>

			</div>
		</div>



	</div>
</div>
